<!DOCTYPE html>
<html lang="en">
    {% extends "sellerbase.html" %}
    {% block content%}
    <script type="text/javascript">
    // validation functions
    function validation()
    {
        
        var alpha=/^[a-zA-Z]+$/;
	var num=/^[0-9]+$/;

        var name=document.getElementById('Name');
        var gender=document.myform.Gender;
        var address=document.getElementById('Address');
        var dob=document.getElementById('Dob');
        var country=document.getElementById('Country');
        var phone=document.getElementById('Phone');
        var username=document.getElementById('Username');
        var password=document.getElementById('Password');
        var file=document.getElementById('file')

        if(name.value.length==0){
            alert("Enter a name")
            return false;
        }
        else if(!name.value.match(alpha))
        {
            alert("Enter a valid name")
            Name.focus();
            return false;
        }
	
    else if(Address.value.length==0){
            alert("Enter address");
            return false;
        }
       
        
        else if(Dob.value.length==0){
            alert("Enter a DOB");
            return false;
        }
        
        else if(Phone.value.length==0){
            alert("Enter phone number");
            return false;
        }
        else if(!Phone.value.match(num)){
            alert("enter a valid number");
            Phone.focus();
            return false;
        }
       
        else if(Username.value.length==0){
            alert("Enter a username");
            return false;
        }
        else if(Country.value.length==0){
            alert("Enter a country");
            return false;
        }
        else if(Password.value.length==0){
            alert("Enter a password");
            return false;
        }
        else if(file.value.length==0){
            alert("Enter a file");
            return false;
        }
        else if(Gender[0].checked==false && Gender[1].checked==false)
	{
		alert('enter a valid gender');
		return false;
	}
        else{
            return true;
        }

    } 
</script>
<script src="/static/jquery-1.8.3.min.js"></script>
<script>
    // jquery and ajax
    $("document").ready(function(){
       $("#Username").change(function(){
           var regname=$("#Username").val();
           $.ajax({
               url:"{% url 'checkUserName' %}",
               data:{'name':regname},
               success:function(data){
                   $("#Username").html(data)
                   if(data.valid=="exist"){
                       alert("User already exist")
                       $("#Username").val()
                   }
               }
           })
        })
    })
   
</script>
<div class="pagetitle">
    <h1>Seller Registration</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard">
    <div class="row">
<form  class="row g-3" method="POST" action="{% url 'sellerRegistrationAction' %}" enctype='multipart/form-data' name="myform">
    {%csrf_token%}
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="Name">
          </div>
        </div>
        <div class="row mb-3">
          <label for="Address" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="Address" id="Address"></textarea>
          </div>
        </div>
        <div class="row mb-3">
            <label for="dob" class="col-sm-2 col-form-label">DOB</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name='DOB' id="Dob">
            </div>
          </div>
        <!-- </div> -->
        <div class="row mb-3">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='phone' id="Phone">
            </div>
          </div>
        
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='username' id="Username">
            </div>
          </div>
        
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example" name='Country' id="Country">
                <option value="">--select--</option>
                <option value="India">India</option>
                <option value="America">America</option>
                <option value="Pakistan">Pakistan</option>
                <option value="China">China</option>
                <option value="Japan">Japan</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="Password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control"  name='password' id="Password">
            </div>
          </div>
          <div class="row mb-3">
            <label for="ImageUrl" class="col-sm-2 col-form-label">ImageUrl</label>
            <div class="col-sm-10">
              <input type="file" class="form-control"  name="file" id="file">
            </div>
          </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="Gender" value="male">
              <label class="form-check-label" for="gridRadios1">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio"  name="gender" id="Gender" value="female">
              <label class="form-check-label" for="gridRadios2">
                Female
              </label>
            </div>
            
          </div>
        </fieldset>
       
        <div class="text-center">
          <button type="submit" class="btn btn-primary" onclick="return validation()">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form><!-- End Horizontal Form -->
    {% endblock %}
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Register</title>
</head>
<script type="text/javascript">
    // validation functions
    function validation()
    {
        
        var alpha=/^[a-zA-Z]+$/;
	var num=/^[0-9]+$/;

        var name=document.getElementById('Name');
        var gender=document.myform.Gender;
        var address=document.getElementById('Address');
        var dob=document.getElementById('Dob');
        var country=document.getElementById('Country');
        var phone=document.getElementById('Phone');
        var username=document.getElementById('Username');
        var password=document.getElementById('Password');
        var file=document.getElementById('file')

        if(name.value.length==0){
            alert("Enter a name")
            return false;
        }
        else if(!name.value.match(alpha))
        {
            alert("Enter a valid name")
            Name.focus();
            return false;
        }
	else if(Gender[0].checked==false && Gender[1].checked==false)
	{
		alert('enter a valid gender');
		return false;
	}
    else if(Address.value.length==0){
            alert("Enter address");
            return false;
        }
       
        
        else if(Dob.value.length==0){
            alert("Enter a DOB");
            return false;
        }
        else if(Country.value.length==0){
            alert("Enter a country");
            return false;
        }
        else if(Phone.value.length==0){
            alert("Enter phone number");
            return false;
        }
        else if(!Phone.value.match(num)){
            alert("enter a valid number");
            Phone.focus();
            return false;
        }
       
        else if(Username.value.length==0){
            alert("Enter a username");
            return false;
        }
        else if(Password.value.length==0){
            alert("Enter a password");
            return false;
        }
        else if(file.value.length==0){
            alert("Enter a file");
            return false;
        }
        else{
            return true;
        }

    } 
</script>
<script src="/static/jquery-1.8.3.min.js"></script>
<script>
    // jquery and ajax
    $("document").ready(function(){
       $("#Username").change(function(){
           var regname=$("#Username").val();
           $.ajax({
               url:"{% url 'checkUserName' %}",
               data:{'name':regname},
               success:function(data){
                   $("#Username").html(data)
                   if(data.valid=="exist"){
                       alert("User already exist")
                       $("#Username").val()
                   }
               }
           })
        })
    })
   
</script>
<body>
    <h3>SELLER</h3>
    <form method="POST" action="{% url 'sellerRegistrationAction' %}" enctype='multipart/form-data' name="myform">
        {%csrf_token%}
        Name:
        <input type="text" name="name" id="Name"><br>
       <p> Gender:
        Male
        <input type="radio" name="gender" id="Gender" value="male">
        Female
        <input type="radio" name="gender" id="Gender" value='female'></p>
        <p>Address:
        <textarea name="Address" id="Address" cols="4" rows="5"></textarea></p>
        <p>DOB:
            <input type="date" name='DOB' id="Dob"></p>
        <p>Country
            <select name='country' id="Country">
                <option value="">--select--</option>
                <option value="India">India</option>
                <option value="America">America</option>
                <option value="Pakistan">Pakistan</option>
                <option value="China">China</option>
                <option value="Japan">Japan</option>
            </select>
        </p>
        <p>Phone Number:
        <input type="text" name='phone' id="Phone"></p>
        <p>Username:
        <input type="text" name='username' id="Username"></p>
        <p>Password:
        <input type="Password" name='password' id="Password"></p>
        <p>ImageUrl:
        <input type="file" name="file" id="file"></p>
        
        <input type="submit" name="submit" value="Submit" onclick="return validation()">
    </form>     -->
</body>

</html>